version: "3"
services:
  {{project_id}}:
    container_name: {{project_id}}
    image: {{project_id}}:latest
    ports:
      - "{{docker_image_port_run}}:{{docker_image_port_run}}"
      - "{{docker_image_port_debug}}:{{docker_image_port_debug}}"
    networks:
      - {{docker_image_network_name}}
    environment:
      JAVA_TOOL_OPTIONS: "-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:{{docker_image_port_debug}} -Xms256m -Xmx4G"{% if add_database %}
      SPRING_DATASOURCE_URL: {{docker_database_url}}{% endif %}
      {% if add_kafka_schema_registry %}SCHEMA_REGISTRY_URL: "{{kafka_schema_registry_url}}"{% endif %}

networks:
  {{docker_image_network_name}}:
    name: {{docker_image_network_name}}
    driver: bridge
