apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{project_id}}-deployment
spec:
  replicas: {{k8s_replicas_count}}
  strategy:
    type: RollingUpdate
  template:
    spec:
      imagePullSecrets:
        - name: synpulse-jfrog-docker-credential
      containers:
        - name: {{project_id}}
          image: synpulse.jfrog.io/s8-docker/synpulse-group-{{project_id}}-main:latest
          imagePullPolicy: Always
          envFrom:
            - configMapRef:
                name: {{project_id}}-config
          ports:
            - containerPort: {{k8s_port}}
            - containerPort: {{k8s_port_debug}}
