apiVersion: v1
kind: Service
metadata:
  name: {{project_id}}-service
spec:
  type: ClusterIP
  ports:
    - port: {{k8s_port}}
      protocol: TCP
      targetPort: {{k8s_port}}
  selector:
    app: {{project_id}}
