databaseChangeLog:
{% if add_example %}  - changeSet:
      id: project-1
      author: test
      changes:
        - createTable:
            tableName: articles
            columns:
              - column:
                  name: id
                  type: int
                  autoIncrement: true
                  constraints:
                    nullable: false
                    primaryKey: true
              - column:
                  name: caption
                  type: varchar(255)
                  constraints:
                    nullable: true
              - column:
                  name: content
                  type: text
                  constraints:
                    nullable: true
              - column:
                  name: category_id
                  type: int
                  constraints:
                    nullable: true
        - createTable:
            tableName: categories
            columns:
              - column:
                  name: id
                  type: int
                  autoIncrement: true
                  constraints:
                    nullable: false
                    primaryKey: true
              - column:
                  name: caption
                  type: varchar(255)
                  constraints:
                    nullable: false
        - addForeignKeyConstraint:
            baseColumnNames: category_id
            baseTableName: articles
            constraintName: FK__articles__category_id
            referencedColumnNames: id
            referencedTableName: categories{% endif %}
