package {{group_id}}.{{artifact_id}}.controller;

import {{group_id}}.{{artifact_id}}.entity.Article;
import {{group_id}}.{{artifact_id}}.service.ArticleService;
import lombok.extern.log4j.Log4j2;
import org.springframework.http.MediaType;
import org.springframework.web.bind.annotation.*;

import java.util.List;

@Log4j2
@RestController
@RequestMapping(value = "/article")
public class ArticleController {

    private final ArticleService articleService;

    public ArticleController(ArticleService articleService) {
        this.articleService = articleService;
    }

    @GetMapping(value = "/", produces = MediaType.APPLICATION_JSON_VALUE)
    public @ResponseBody
    List<Article> getAllArticles() {
        return this.articleService.getAllArticles();
    }

{% if add_kafka and kafka_add_example and not add_kafka_schema_registry %}    @GetMapping(value = "/process", produces = MediaType.APPLICATION_JSON_VALUE)
    public void processArticles() {
        this.articleService.processArticles();
    }

{% endif %}    @GetMapping(value = "/{id}", produces = MediaType.APPLICATION_JSON_VALUE)
    public @ResponseBody
    Article getArticleById(@PathVariable("id") Integer id) {
        return this.articleService.fetchById(id);
    }

}
